* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

window#waybar {
    background-color: rgba(10, 10, 10, 0.85);
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-firefox,
#custom-discord,
#custom-spotify {
    font-size: 24px;
    padding: 5px 10px;
    color: white;
}

#cava
#clock,
#network,
#pulseaudio,
#mode,
#custom-media,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}


#clock {
    color: #ffffff;
}

#network {
    color: #ffffff;
}

#network.disconnected {
    color: red;
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: red;
}

#custom-updates {
	background-color: #1f1f2e;
	padding: 0px 13px;
	color: white;
}


#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power{
    font-size: 24px;
    padding: 0px 10px;
    color: white;
}
